{% extends "base/base.html" %}
{% block content %}
<div class="container my-4">
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        Votre nom d'utilisateur et votre mot de passe ne correspondent pas. Veuillez réessayer.
    </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <div class="alert alert-danger" role="alert">
            Votre compte n'a pas accès à cette page. Veuillez vous connecter avec un compte qui y a accès.
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
            Veuillez vous connecter pour voir cette page.
        </div>
        {% endif %}
    {% endif %}
    <form method="post" action="{% url 'login' %}" class="mt-3">
        {% csrf_token %}
        <div class="mb-3 row">
            <label for="{{ form.username.id_for_label }}" class="col-sm-2 col-form-label">{{ form.username.label }}</label>
            <div class="col-sm-10">
                {{ form.username }}
            </div>
        </div>
        <div class="mb-3 row">
            <label for="{{ form.password.id_for_label }}" class="col-sm-2 col-form-label">{{ form.password.label }}</label>
            <div class="col-sm-10">
                {{ form.password }}
            </div>
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Se connecter">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>
    <div class="mt-3 text-center">
        <p>Pas encore de compte ?</p>
        <a href="{% url 'register' %}">s'enregistrer</a>
    </div>
</div>

{% endblock %}