{% extends "base/base.html" %}
{% block content %}
{% if form.errors %}
<p>Votre nom d'utilisateur et votre mot de passe ne correspondent pas. Veuillez réessayer.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Votre compte n'a pas accès à cette page.
        veuillez vous connecter avec un compte qui y a accès.</p>
    {% else %}
    <p>Veuillez vous connecter pour voir cette page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="se connecter">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you set up the password_reset view in your URLconf #}
{% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}
{% endblock %}