{% extends "base/base.html" %}
{% block title_h2 %}Inscription{% endblock %}
{% block content %}
<div class="container text-justify">
    <!-- Afficher les erreurs du formulaire -->
    <form method="POST" class="needs-validation">
      {% csrf_token %}
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.errors }}
      </div>
      {% endif %}
      <table>
        <tbody>
          <tr>
            <td>{{ form.email.label_tag }}</td>
            <td>{{ form.email }}</td>
          </tr>
          <tr>
            <td>{{ form.password1.label_tag }}</td>
            <td>{{ form.password1 }}</td>
          </tr>
          <tr>
            <td>{{ form.password2.label_tag }}</td>
            <td>{{ form.password2 }}</td>
          </tr>
        </tbody>
      </table>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">S’inscrire</button>
      </div>
    </form>
    <!-- Lien vers la page de connexion -->
    <div class="text-center mt-3">
      <p>Vous avez déjà un compte ?</p>
      <a href="{% url 'login' %}" class="btn btn-outline-primary">Se connecter</a>
    </div>
    <!-- Message de réussite après l'inscription réussie -->
    {% if request.GET.next %}
    <div class="alert alert-success mt-3" role="alert">
      Vous êtes maintenant inscrit ! Veuillez vous <a href="{% url 'login' %}">connecter</a>.
    </div>
    {% endif %}
  </div>
  {% endblock content %}