[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.0"
sqlparse = "==0.4.2"
tzdata = "==2021.5"
Django = "==4.0.3"
python-dotenv = "*"
psycopg2 = "*"
whitenoise = "*"
django-import-export = "*"

[dev-packages]
pytest-django = "*"
flake8 = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
