[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
sqlparse = "*"
tzdata = "*"
Django = "*"
whitenoise = "*"
django-import-export = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pillow = "*"
gunicorn = "*"
django-extensions = "*"
python-dotenv = "*"
django-allauth = "*"

[dev-packages]
pytest-django = "*"
flake8 = "*"
coverage = "*"
pytest-cov = "*"
black = "*"

[requires]
python_version = "3.12"
