{% extends 'base/base.html' %}
{% load static %}
{% block title_h2 %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="masthead-content">
        <div class="container px-5">
            <div class="container-fluid p-0">
                <p>{{ object.category }}</p>
                <img src="{{ object.couverture }}" alt="{{ object.title }}" width="200" height="300">
                <div class="row g-0">
                    <p>ISBN: {{ object.ISBN }}</p>
                    <p>Nombre de pages: {{ object.count_pages }}</p>
                    <p>Edition: {{ object.edition.name }}</p>
                    <p>Autheur: {{ object.author }}</p>
                    <form method="post" action="{% url 'createLibrary' %}">
                        {% csrf_token %}
                        <input type="hidden" name="book_slug" value={{ object.slug }}>
                        <input type="submit" value="ajouter">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}