<footer class="py-5 bg-black">
    <a href="http://www.djangoproject.com/">
        <img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django."
         title="Powered by Django." />
    </a>
    <ul style="list-style-type:none">
    <li class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; ReadyForRead 2023</p></li>
    <li class="container px-5"><a class="m-0 text-center text-white small" href="{% url 'credits' %}">Crédits</a></li>
    </ul>
</footer>