{% extends 'base/base.html' %}
{% load static %}
{% block title_h1 %}Ready For Read{% endblock %}
{% block title_h2 %}C'est parti{% endblock %}
{% block content %}
<h3>Catalogue de livres</h3>
                {% for book in object_list %}
                    <figure class="card-body col-lg-4 col-sm-6">
                        <a href="{% url "book-detail" book.slug %}">
                        <img src="{{ book.couverture }}" alt="{{ book.title }}" width="200" height="300">
                        </a>
                    </figure>
                {% endfor %}
                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center">
                      {% if page_obj.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Aller à la page précédente">Précédent</a>
                        </li>
                      {% endif %}
                  
                      {% for num in page_obj.paginator.page_range %}
                        {% if num == 1 %}
                          <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Aller à la première page">Début</a>
                          </li>
                        {% endif %}
                        {% if num == page_obj.number %}
                          <li class="page-item active">
                            <a class="page-link" href="#">{{ num }} <span class="sr-only">(page courante)</span></a>
                          </li>
                        {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ num }}" aria-label="Aller à la page {{ num }}">{{ num }}</a>
                          </li>
                        {% endif %}
                        {% if num == page_obj.paginator.num_pages %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Aller à la dernière page">Fin</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                  
                      {% if page_obj.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Aller à la page suivante">Suivant</a>
                        </li>
                      {% endif %}
                    </ul>
                  </nav>
                                               
{% endblock %}
<!-- Content section 1-->
{% block presentation %}
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-5 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'assets/img/bibliotheque.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-7 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Ready For Read</h2>
                    <p>Veille_Tracking est une application conçue pour les professionnels francophones de l'informatique qui souhaitent rester à la pointe de 
                        l'actualité technologique en matière de livres en français. </br>
                        En proposant des livres pertinents et de qualité, Veille Tracking aide les professionnels à améliorer leurs compétences 
                        et à rester compétitifs sur le marché du travail. </br>
                        Cette application facilite également l'accès à des ressources informatiques de qualité, contribuant ainsi à renforcer la formation 
                        et la veille technique des utilisateurs. </br>
                        De plus, Veille_Tracking encourage la collaboration entre ses membres, en proposant des livres, mettant des commentaires
                        favorisant ainsi le partage de connaissances. </br>
                         En fin de compte, Veille Tracking aide les professionnels à relever les défis complexes du monde numérique d'aujourd'hui, 
                         tout en créant un environnement favorable à leur épanouissement professionnel et personnel.
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}